.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: inherit;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 97%;
  }
}

@media screen and (max-width: 760px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px;
  }
}
