.places {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 80px;
  margin: 84px 148px 92px;
}

@media screen and (max-width: 1200px) {
  .places {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 1000px) {
  .places {
    row-gap: 70px;
    margin: 84px 24px 94px;
  }
}

@media screen and (max-width: 720px) {
  .places {
    row-gap: 50px;
    margin: 64px 0 66px;
  }
}
