.lead {
  max-width: 984px;
  width: calc(100% - 2 * 148px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 148px 92px;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100% - 2 * 48px);
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    margin: 0 0 88px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 64px;
  }
}
