.header {
  max-width: 1184px;
  margin-top: 28px;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 928px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 625px) {
  .header {
    max-width: 720px;
    margin-top: 16px;
    padding: 0 16px;
  }
}
