.footer__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 620px) {
  .footer__links {
    flex-direction: column;
    row-gap: 32px;
  }
}
