.photo-grid__items {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(284px, 1fr));
  gap: 14px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1260px) {
  .photo-grid__items {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .photo-grid__items {
    grid-template-columns: repeat(2, minmax(352px, 1fr));
    margin: 0;
  }
}

@media screen and (max-width: 760px) {
  .photo-grid__items {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
