.place {
  /* box-sizing: border-box; */
  display: grid;
  grid-template-columns: minmax(460px, 1fr) minmax(484px, 1fr);
  gap: 48px 40px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .place {
    grid-template-columns: minmax(440px, 1fr) minmax(456px, 1fr);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1000px) {
  .place {
    grid-template-columns: minmax(340px, 1fr) minmax(352px, 1fr);
    gap: 48px 28px;
  }
}

@media screen and (max-width: 760px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}
