.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 48px 24px;
}

@media screen and (max-width: 1204px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
    margin-right: 16px;
  }
}
